{% extends 'base.html' %}

{% block content %}

<h1>Guitar Detail</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ guitar.brand }}</span>
                <p>Model: {{ guitar.model }}</p>
                <p>Serial #: {{ guitar.serial }}</p>
                <p>Year Made: {{ guitar.year }}</p>
                <p>Description: {{ guitar.description }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'guitars_update' guitar.id %}">Edit</a>
                <a href="{% url 'guitars_delete' guitar.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <form action="{% url 'add_practice' guitar.id %}" method="POST">
            {% csrf_token %}
            {{ practice_form.as_p }}
            <input type="submit" class="btn black" value="Add Practice Session">
        </form>
        <br>
        {% if guitar.practiced_for_today %}
            <div class="card-panel green-text center-align">You have practiced with the {{guitar.brand}} {{guitar.model}} today.</div>
        {% else %}
            <div class="card-panel red-text center-align">You have not practiced today.</div>
        {% endif %}
        <table class="striped">
            <thead>
                <tr><th>Date</th><th>Focus</th><th>Time</th></tr>
            </thead>
            <tbody>
                {% for practice in guitar.practice_set.all %}
                <tr>
                    <td>{{practice.date}}</td>
                    <td>{{practice.get_focus_display}}</td>
                    <td>{{practice.get_time_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    <hr>
<div class="row">
    <div class="col s12">
        <h3>{{ guitar.brand }} Guitar Cases</h3>
    {% if guitar.cases.count %}
        {% for case in guitar.cases.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    {{ case.brand }} {{ case.case }}
                </span>
            </div>
            <div class="card-action">
                <form action="{% url 'remove_case' guitar.id case.id %}" method="POST">
                    {% csrf_token %}
                    
                    <button type="submit" class="red btn">Remove Case</button>
                </form>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h5>No Case Selected</h5>
    {% endif %}
    </div>
    <div class="col s8">
        <h3>Available Cases</h3>
        {% if cases.count %}
            {% for case in cases.all %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {{ case.brand }} {{ case.case }}
                    </span>
                </div>
                <div class="card-action">
                    <form action="{% url 'assoc_case' guitar.id case.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="black btn">Add Case</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h5>{{ guitar.brand }} {{ guitar.model }} Already Has All Cases</h5>
        {% endif %}
    </div>
</div>

<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    var selectFocus =  document.getElementById('id_focus');
    M.FormSelect.init(selectFocus);

    var selectTime = document.getElementById('id_time');
    M.FormSelect.init(selectTime);
</script>

{% endblock %}