body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    background-color: #272525;
    font-family: 'Hammersmith One', sans-serif;
}

.logo {
    height: 75px;
    width: 75px;
}

main {
    flex: 1 0 auto;
    font-family: 'Hammersmith One', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #272525;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.body-logo {
    height: 250px;
    width: 250px;
}

hr {
    border-top: 2px solid #272525;
    width: 500px;
    box-shadow: 1px 1px 20px 1px lightgrey;
}

.body-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

footer {
    padding-top: 0;
    text-align: right;
}

.page-footer {
    background-color: #272525;
}

.center {
    padding: 10px;
}